body {
	width: 70%;
	margin: 0 auto;
}
h1,h2,h3{
    font-family: Verdana;
    margin-top: 1.5em;
}
h1{
    font-size: 32px;
}
table{
    border-width: 1px;
    border-style: solid;
    border-collapse: separate;
}
th,td,tr {
    border: 1px solid ;
}
figcaption{
    font-family: cursive;
}
div{
    float: right;
    margin-left: 25px;
    margin-bottom: 15px;
}
